KOPIA_PASSWORD={{ revopia_kopia_password | to_json }}
KOPIA_CHECK_FOR_UPDATES=false
KOPIA_SERVER_USERNAME={{ revopia_server_username | to_json }}
KOPIA_SERVER_PASSWORD={{ revopia_server_password | to_json }}
